language: scala
dist: trusty
sudo: false
group: beta
scala:
- 2.10.7
- 2.11.12
- 2.12.4
- 2.13.0-M3
jdk:
- oraclejdk8
- oraclejdk9
cache:
  directories:
  - "$HOME/.ivy2/cache"
  - "$HOME/.sbt/boot/"
script:
- sbt ++$TRAVIS_SCALA_VERSION scalastyle test
before_cache:
- find $HOME/.ivy2/cache -name "ivydata-*.properties" | xargs rm
notifications:
  slack:
    secure: J6SqDQgrnauTDSeiRCsMyYqCQDzF1gPbgVX1yTgnqUhyDJYIR5js4W3ufLUAwQCtI7fxj46Kca97ZcEC9ttnC/qD6RV+pUeszbQIBMcIZtH83R/vZaYaFIYNOLWHkFk38cglpYw2bhzMx3vSW4QT6LUyhJqSfDuQVWfB1RT6PE8=
matrix:
  exclude:
    - scala: 2.10.7
      jdk: oraclejdk9
    - scala: 2.11.12
      jdk: oraclejdk9