language: scala

before_install: curl -Ls https://git.io/jabba | bash && . ~/.jabba/jabba.sh
install: jabba install "adopt@~1.$TRAVIS_JDK.0-0" && jabba use "$_" && java -Xmx32m -version

git:
  depth: false # Avoid sbt-dynver not seeing the tag

env:
  matrix:
    - TRAVIS_JDK=8
    - TRAVIS_JDK=11

scala:
  - 2.12.10
  - 2.13.1

script: sbt "++$TRAVIS_SCALA_VERSION" headerCheck test:headerCheck scalafmtCheckAll scalafmtSbtCheck scalastyle test publishLocal mimaReportBinaryIssues

cache:
  directories:
    - "$HOME/.ivy2/cache"
    - "$HOME/.jabba/jdk"
    - "$HOME/.sbt"
    - "$HOME/.coursier"

before_cache:
  - rm -rf $HOME/.ivy2/cache/com.typesafe.play/*
  - rm -rf $HOME/.ivy2/cache/scala_*/sbt_*/com.typesafe.play/*
  - find $HOME/.ivy2 -name "ivydata-*.properties" -delete
  - find $HOME/.sbt  -name "*.lock"               -delete

notifications:
  slack:
    secure: J6SqDQgrnauTDSeiRCsMyYqCQDzF1gPbgVX1yTgnqUhyDJYIR5js4W3ufLUAwQCtI7fxj46Kca97ZcEC9ttnC/qD6RV+pUeszbQIBMcIZtH83R/vZaYaFIYNOLWHkFk38cglpYw2bhzMx3vSW4QT6LUyhJqSfDuQVWfB1RT6PE8=
